<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
			<div class="col-12 col-md-8">
				<!-- <h3>ECF Network</h3> -->
	          <ul class="footer-menu">
	            <li><a href="{{ .Site.BaseURL }}about">About ECF</a></li>
	            <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>            
	          </ul>
			</div>
			<div class="col-12 col-md-4">
					{{ partial "social.html" . }}						
			</div>
        </div>
      </div>
    </div>
  </div>
</div>