<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {{ range .Children }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </li>
    {{ else }}
	<li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
	  <a href="{{.URL}}">
	    {{ .Pre }}
	    <span>{{ .Name }}</span>
	  </a>
	</li>
    {{ end  }}
    {{end}}
  </ul>
</div>

<!--/.nav-collapse -->